    .how-it-works {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .step {
        padding: 20px;
        border-radius: 10px;
        background-color: #f8f9fa;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .step h3 {
        margin-top: 20px;
        font-size: 1.5em;
    }

    .step p {
        font-size: 1em;
    }

    .icon {
        font-size: 3em;
        color: #007bff;
    }


    .contact-section {
        padding: 50px 0;
        background-color: #f8f9fa;
    }

    .contact-section h2 {
        margin-bottom: 30px;
        font-size: 2em;
    }

    .contact-info {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .contact-info p {
        font-size: 1.2em;
        margin: 10px 0;
    }

    body {
        font-family: 'Mukta', sans-serif;
      }
    h1 {
        font-family: 'Mukta', sans-serif;
      }
    
      p {
        font-family: 'open sans', serif;
        font-weight: 700;
      }
      