body {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

header {
    background-color: #037dbadb;
    color: white;
    padding: 0.1px;
    padding-top: 10px;
    text-align: center;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}


nav {
    background-color: #011d58fa;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.hero {
    text-align: center;
    padding: 10%;
    background-color: #eeeeee49;
}

footer {
    background-color: #011d58fa;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.process {
    padding: 50px;
    background-color: #011d58fa;
    margin-bottom: 50px;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    /* Makes the header text Heavy */
}

.p-3 {
    font-size: 22px;
}

.reviews {
    margin-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.revbox {
    width: 50px;
}

.fa-star {
    color: yellow;
}

.card-text {
    font-size: 15px;
}

.contact h4 {
    margin-top: 75px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-align: center;
    color: black;
}

.map {
    margin-left: 10%;
}
