body {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.hpheader {
    background-color: #037dbadb;
    color: white;
    padding: 0.1px;
    padding-top: 10px;
    text-align: center;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}


nav {
    background-color: #011d58fa;
}

nav a {
    padding-left: 10%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.hero {
    text-align: center;
    padding: 15%;
    padding-top: 100px;
    padding-bottom: 350px;

    background-color: #eeeeee49;

    background-image: url('https://github.com/phonesmash/fobmasters/blob/04baae2c35a916714b4201832ffce4bfbcae5368/pexels-lazaro-rodriguez-jr-6565048%20(1).jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    font-size: 20px;
    font-weight: bold;
}


footer {
    background-color: #011d58fa;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.process {
    padding: 50px;
    background-color: #011d58fa;
    margin-bottom: 50px;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    /* Makes the header text Heavy */
}

.p-3 {
    font-size: 22px;
}

.reviews {
    margin-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.revbox {
    width: 50px;
}

.fa-star {
    color: yellow;
}

.card-text {
    font-size: 15px;
}

.contact {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 30px;
}

.contact h5 {
    text-align: center;
}

.intouch h4 {
    margin-top: 75px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-align: center;
    color: black;
    text-align: center;
}

.map {
    margin-left: 10%;
    width: 50px;
}
